In [34]:
import pandas as pd
import dask
import dask.dataframe as dd
from dask.delayed import delayed
import glob

In [35]:
PATH_DATA = '/home/davidcparrar/Documents/Resources/exportaciones'
columns_file = ['Año Gravable', 'Numero Periodo', 'Razon Social', 'Razón Social Destinatario', 
                'Ciudad en el Exterior', 'Nombre Pais Destino','Codigo Pais Destino',
                'Valor Total Agregado Nacional USD','Número Total de Bultos',
                'Total Peso Bruto Kgs.','Codigo Subpartida','Valor FOB USD Subpartida',
                'Peso neto Kgs.', 'Peso bruto Kgs.']

todos = glob.glob(PATH_DATA+"/*")
importaciones = glob.glob(PATH_DATA+"/*500*")
exportaciones = [i for i in todos if i not in importaciones]

In [36]:
def read_file(exp):
    parts = dask.delayed(pd.read_excel)(exp,usecols=columns_file)
    df = dd.from_delayed(parts)
    return df

In [47]:
df = pd.read_excel(exportaciones[0],usecols=columns_file)

In [51]:
df['Codigo Subpartida'] = df['Codigo Subpartida'].apply(lambda x: str(x))

In [54]:
df[df['Codigo Subpartida'].str.startswith('18')]

,Año Gravable,Numero Periodo,Razon Social,Razón Social Destinatario,Ciudad en el Exterior,Nombre Pais Destino,Codigo Pais Destino,Valor Total Agregado Nacional USD,Número Total de Bultos,Total Peso Bruto Kgs.,Codigo Subpartida,Valor FOB USD Subpartida,Peso neto Kgs.,Peso bruto Kgs.
806,2014,4,COLCOCOA S.A.S,NaN,NaN,ITALIA,IT,NaN,NaN,NaN,1801001900.0,72875.00,25025.00,25295.00
868,2014,4,DITEXCON S.A. SOCIEDAD DE COMERCIALIZACION INT...,NaN,NaN,PORTUGAL,PT,NaN,NaN,NaN,1806900090.0,870.00,187.50,0.00
978,2014,4,TWO WAY SOLUTIONS C.I. S.A.S.,NaN,NaN,ESTADOS UNIDOS,US,NaN,NaN,NaN,1806900090.0,113.64,7.50,0.00
1357,2014,4,SUCESORES DE JOSE JESUS RESTREPO Y CIA S. A. C...,NaN,NaN,ESTADOS UNIDOS,US,NaN,NaN,NaN,1806900090.0,2503.20,238.56,347.00
4726,2014,4,T-VAPAN 500 S.A.,NaN,NaN,ECUADOR,EC,NaN,NaN,NaN,1806209000.0,69182.28,16556.00,39417.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363024,2014,4,SUCESORES DE JOSE JESUS RESTREPO Y CIA S. A. C...,NaN,NaN,ESTADOS UNIDOS,US,NaN,NaN,NaN,1806900090.0,3882.00,600.00,0.00
363187,2014,4,SUCESORES DE JOSE JESUS RESTREPO Y CIA S. A. C...,NaN,NaN,ESTADOS UNIDOS,US,NaN,NaN,NaN,1801002000.0,3792.00,800.00,0.00
363188,2014,4,SUCESORES DE JOSE JESUS RESTREPO Y CIA S. A. C...,NaN,NaN,ESTADOS UNIDOS,US,NaN,NaN,NaN,1806209000.0,58072.00,8520.00,10576.80
363189,2014,4,SUCESORES DE JOSE JESUS RESTREPO Y CIA S. A. C...,NaN,NaN,ESTADOS UNIDOS,US,NaN,NaN,NaN,1806900090.0,3882.00,600.00,0.00
363270,2014,4,SUCESORES DE JOSE JESUS RESTREPO Y CIA S. A. C...,NaN,NaN,ESPAÑA,ES,NaN,NaN,NaN,1801001900.0,286036.74,100188.00,101189.88

In [ ]:
df.isnull().sum(axis = 0)